<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <h1> <%= kindOfDay %> </h1> 

   <ul>
       <% for(let i=0; i < newListItem.length ;i++){ %>
       <li><%= newListItem[i] %></li>
       <% } %>
   </ul>

   <form action="/" method="POST">
    
    <input type="text" id="newItem" placeholder="add a task" name="newItem">
    <button type="submit">add to ToDo List</button>
   </form>
    
</body>
</html>